body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: blueviolet;
  font-size: 34px;
  font-weight: 100;
  line-height: 28px;
  padding: 0px;
  margin-bottom: 0;
  margin-left: 0;
}
.weather-app {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(214, 129, 18);
  margin: o;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
}
